
  body
  {
    background-color: #FAEDF0;
  }
  hr{
    border-style: dotted none none none;
    width: 10%;
    border-width: 5px;
    border-color: grey;
  }
h1{
  color: #a52a2a;
}
h3
{
  color: #a52a2a;
}
